section{
    background-color: grey;
    color: white;
    padding: 0.3em;
}

.grid-container{
    display: grid;
    grid-template-columns: [line-start] 1fr [line-middle] 2fr [line-end];
    grid-column-gap: 0.5em;
    grid-template-rows: [page-start] 4em auto [page-img] auto [page-footer];
    grid-row-gap: 0.5em;
}

.img{
    grid-column: line-start / line-middle;
    grid-row: page-start / page-img;
}

.title{
    grid-column: line-middle / line-end;
    grid-row: page-start / span 1;
}

.text{
    grid-column: line-middle / line-end;
    grid-row: 2 / page-img;
}

.footer{
    grid-column: line-start / line-end;
    grid-row: 3 / page-footer;
}